body {
  font-family: Arial, sans-serif;
}

.hero {
  height: 70vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1606491956689-2ea866880c84");
  background-size: cover;
  background-position: center;
}

nav {
  background: #000000;
  padding: 12px;
}

nav a {
  color: rgb(218, 124, 124);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #f4c430;
}

.card img {
  height: 220px;
  object-fit: cover;
}

footer {
  background: #111;
  color: white;
  padding: 15px;
}
